body {
    background: rgb(32, 32, 32);
}

h1 {
    color: #fff;
}

.container {
    min-height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

#boardSize {
    border: none;
    text-align: center;
    margin-bottom: 12px;
    padding: 5px;
    font-size: 15px;
    outline: none;
}

#btns {
    display: flex;
    gap: 1em;
}

.btn {
    padding: 10px;
    border: none;
    color: black;
    font-weight: bold;
    background: rgb(247, 200, 98);
    border-radius: 2em;
    cursor: pointer;
}

#board {
    border: 10px solid rgb(177, 74, 74);
    width: fit-content; 
    margin: 0 auto;
}

.gridRow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridRow > div {
    background-color: #fff;
    border: 1px solid rgb(247, 200, 98);
    color: #fff;
    box-sizing: border-box;
    height: 20px;
    width: 20px;
}